*{
    margin: 0%;
    padding: 0%;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.navbar{
    background-color: rgba(240, 248, 255, 0.3);
}


.navbar-buttons{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}
.layover{ min-height: 100vh;}
.one{
     
    background:url('https://sariyahsid.github.io/Design-1/images/sean-pollock-PhYq704ffdA-unsplash.jpg') no-repeat center center/cover;
   
    
}
.card-wrapper{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    border-radius: 30px;
    padding: 6rem 3rem;
    margin: 0;
    overflow: visible;
    position: relative;
    justify-content: center;
}
.card-wrapper:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border: 2px solid white;
    border-radius: 30px;
}
@media only screen and (max-width: 768px){
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    .title{
        text-align: center;
    }
    .img-size{height: 50vh;
    width: auto;}
    .center{
        display: inline-block;
        text-align: center;
        
        margin-bottom:1vh ;
    }
    .img-size1{height: 30vh;
        width: auto;  
    }
    .sec5{
        display: flex;
        flex-direction: column;
    }
    .c-align{
        text-align: center;
    }
}
.card{
    
   
    background-color: rgba(133, 121, 121, 0.5);
}


#button{
    border-radius: 30px;
}

.info1{
   
    background-image: linear-gradient(to right, white , rgb(119, 184, 194));   
}

.info2{  
    background:url('https://sariyahsid.github.io/Design-1/images/lycs-architecture-aKij95Mmus8-unsplash.jpg') no-repeat center center/cover; 
   
}
.clients{  
    background:url('https://sariyahsid.github.io/Design-1/images/yann-maignan-rRiAzFkJPMo-unsplash.jpg') no-repeat center center/cover; 
    z-index: -1;
    opacity: .90;
}
.Branch{  
    background:url('https://sariyahsid.github.io/Design-1/images/alesia-kazantceva-VWcPlbHglYc-unsplash.jpg') no-repeat center center/cover; 
    z-index: -1;
    opacity: .90;
}
.contact{  
    background:url('https://sariyahsid.github.io/Design-1/images/verne-ho-0LAJfSNa-xQ-unsplash.jpg') no-repeat center center/cover; 
    
}
.radius{
    box-shadow: 0 25px 50px rgba(64, 62, 62, 0.2); 
    border-radius: 30px;
}
.info1-container{  
    
    background-color: rgba(240, 231, 231, 0.3);
}
.info2-element{
    background-color: rgba(64, 60, 60, 0.2);
    box-shadow: 0 25px 50px rgba(64, 62, 62, 0.2); 
}
#button:hover{
    cursor: pointer;
    font-weight: bolder;
}
footer{
    background-color: rgb(26, 26, 44);
}


.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    transition: .5s ease;
    position: absolute;
    bottom:0;
    left: 48%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    
}
.icons {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom:0;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }
  .thumbnail:hover .icons {
    opacity: 1;
  }
  .thumbnail:hover .caption{
    bottom:10%

  }